body {
  font-family: "Rubik", sans-serif;
}
.heading {
  font-weight: 400;
}
.subheading {
  font-weight: 300;
}

.MuiTableRow-root {
  font-size: small;
}

h3 {
  text-align: center;
  font-weight: 400;
}
